<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
    <%- include('../style.ejs'); %>
</head>

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click"
    data-menu="vertical-menu-modern" data-col="">
    <%- include('menu.ejs'); %>
    
</body>
    <%- include('../admin/script.ejs'); %>
<!--     <script>
        document.getElementById('swit').addEventListener('click', function() {
            window.location.href = 'admin/setranks';
        });
    </script> -->
    
</html>