<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>index</title>
</head>

<body>
    <div>
      <h1>Sticky footer</h1>
      <p>Pin a footer to the bottom of the viewport in desktop browser with this custom HTML and CSS.</p>
    </div>
</body>

</html>