<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>
    <h1>Welcome: <span id="username"></span></h1>
    <p>Your email: <span id="email"></span></p>
    <!-- เพิ่มเนื้อหาอื่นๆ ที่นี่ -->
    <script src="javascripts/auth.js"></script>
</body>
</html>
